{% extends 'base.html.twig' %}
{% block body %}
    <div id="books_area">
        <ul>
            <li>Programing</li>
            <li>Fiction</li>
            <li>Architecture</li>
            <li>Photography</li>
            <li>Philosophy</li>
            <li>Medical</li>
            <li>Travel</li>
            <li>Religion</li>
        </ul>
    </div>
{% endblock %}
    {% block javascripts %}
        {% javascripts '@LicitatiiBundle/Resources/public/js/booksTst.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}